* {
  box-sizing: border-box;
  margin: 0;
}

/* body {
  margin: 0 0;
} */
.container {
  box-sizing: border-box;
  height: 100vh;
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 50px auto 50px;
  
}

.channels {
  background-color: grey;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
}

.chat-window {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background-color: yellow;
}

.chat-form {
  background-color: pink;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}


